services:
  obsidian:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian_remote
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
      - SUBFOLDER=/
      - KEYBOARD=en-us-qwerty
      - DISPLAY_REFRESH=60
    volumes:
      - /opt/obsidianRemote/config:/config
    tmpfs:
      - /tmp:size=1G,mode=1777
    shm_size: "4gb"
    mem_limit: 6g
    mem_reservation: 3g
    cpus: 2
    cpu_shares: 2048
    security_opt:
      - seccomp:unconfined
    restart: unless-stopped
    networks:
      - obsidian_internal

  authelia:
    image: authelia/authelia:latest
    container_name: obsidian_authelia
    volumes:
      - ./authelia:/config
    environment:
      - TZ=America/Los_Angeles
    restart: unless-stopped
    networks:
      - obsidian_internal
      - npm_default

  redis:
    image: redis:alpine
    container_name: obsidian_redis
    restart: unless-stopped
    networks:
      - obsidian_internal

networks:
  npm_default:
    external: true
  obsidian_internal:
    internal: true


