services:
  obsidian:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian_remote
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /opt/obsidianRemote/config:/config
    tmpfs:
      - /tmp:size=512M,mode=1777
    shm_size: "2gb"
    mem_limit: 4g
    mem_reservation: 2g
    cpus: 2
    security_opt:
      - seccomp:unconfined
    restart: unless-stopped
    networks:
      - npm_default

networks:
  npm_default:
    external: true


