services:
  obsidian:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian_remote
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /opt/obsidianRemote/config:/config
    shm_size: "1gb"
    restart: unless-stopped
    networks:
      - npm_default

networks:
  npm_default:
    external: true
